.carrosel__titulo {
    background: var(--branco);
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
}

.descricao__titulo--livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    align-items: center;
    display: flex;
}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 1em 2.2em;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .carrosel__titulo {
        font-size: 26px;
    }
    
    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        margin: 2em auto;
        width: 40%;
    }
}