.cabecalho__menu--hamburguer {
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.cabecalho {
    align-items: center;
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    align-items: center;
    display: flex;
}

.container__imagem {
    padding: 1em;
}

#menu {
    display: none;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu--item, .lista__menu--titulo {
    background-color: var(--branco);
    padding: 1em;
    line-height: 24px;
}

.lista__menu--titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu--link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo, .opcoes, .container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
     .container__titulo, .container__titulo--negrito {
        font-size: var(--fonte-secundaria);
        font-size: 30px;
     }

     .container__titulo {
        font-weight: 400;
        display: block;
     }

     .container__titulo--negrito {
        font-weight: 700;
     }

     .opcoes {
        display: flex;
     }

     .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
     }

     .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente, .cabecalho__menu--hamburguer, .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista__menu {
        display: block;
        width: auto;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        align-items: center;
        color: var(--preto);
        display: flex;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}