.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
    padding-top: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 2em 10vw;
    }
    
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__link {
        font-size: 24px;
    }

    .topicos__link:hover {
        color: var(--laranja);
        font-size: 26px;
        background: var(--branco);
    }
}

@media screen and (min-width: 1024px) {
    .topicos {
        padding: 4em 25vw;
    }
    .topicos__titulo {
        font-size: 32px;
        padding: 0;
    }
}